*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;

    border: 1px solid gray;
}
body{
    font-family: Roboto, sans-serif;
    overflow: hidden;
    justify-content: space-between;
    min-height: 100vh;
}
body > *{
     padding: 0 15%;
}


body, 
header, 
section, 
footer, 
.column-flex, 
.icons, 
.icons div, 
.call-to-action{
    display: flex;
}


body, 
.column-flex, 
#random-information, 
.icons div{
    flex-direction: column;
}


header,
#random-information,
.icons div,
.call-to-action{
    align-items: center;
}
header{
    justify-content: space-between;
}
.hero, footer{
    background-color: #1F2937;
}
h1{
    font-size: 4.8em;
}
.hero h1{
    font-weight: extra-bold;
}
h2{
    font-size: 3.2em;
}
p{
    font-size: 1.8em; 
}

.hero h1, 
.hero p,
footer h1,
footer p{
    color: #f9faf8;
}

#random-information{

}
.icons{

}
.icons div{

}
.icon-img{
    border: 2px solid #9393ff;
    border-radius: 20px;
}
.call-to-action{

}

footer{
    justify-content: center;
}